.react-calendar-calendar-container
  font-family: sans-serif
  text-align: center

  *
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

  .react-calendar-calendar-block
    display: inline-block
    margin-bottom: 50px
    max-width: 500px
    width: 100%

    .react-calendar-hint
      color: #a2a2a2
      font-size: 14px
      margin-top: 15px

    .react-calendar-calendar
      width: 100%
      height: 400px
      overflow: hidden
      display: table
      margin-right: 3%
      background-color: #ffffff

      @media (max-width: 1120px)
        margin: 0

      &.version
        &-1, &-2
          box-shadow: 0 0 25px rgba(0,0,0,0.6)
          border-radius: 10px

        &-3
          border: 1px solid #c8c8c8
          box-shadow: 0
          border-radius: 6px

          @media (min-width: 1120px)
            border-right: 0


        &-2, &-3
          margin: 0


      .react-calendar-header-block
        display: table-row

        .react-calendar-header
          height: 60px
          vertical-align: middle
          text-align: center
          position: relative

          .react-calendar-date-container
            position: absolute
            display: table
            width: 200px
            left: 0
            right: 0
            top: 0
            bottom: 0
            margin: auto
            font-size: 14px

            .react-calendar-date
              display: table-cell
              vertical-align: middle
              text-align: center
              font-weight: bold

              .react-calendar-month
                font-size: 16px
                color: #5b5b5b
                text-transform: capitalize

              .react-calendar-year
                &-1
                  color: #c94a33

                &-2
                  color: #bd7800

                &-3
                  color: #5b5b5b

        .react-calendar-button
          &-1, &-2, &-3
            margin: 10px
            display: inline-block
            background-color: #f1f1f1
            color: #bebebe
            outline: 0
            border: 0
            padding: 0 !important
            padding-bottom: 4px !important
            cursor: pointer
            font-size: 25px
            width: 40px
            height: 40px
            border-radius: 50px

            &.react-calendar-left
              float: left

            &.react-calendar-right
              float: right

          &-3
            background-color: #ffffff
            box-shadow: 0 0 25px rgba(0,0,0,0.6)

          &-1:hover
            background-color: #c4331d
            color: #fbf3f2

          &-2:hover
            color: #bd7801

          &-3:hover
            color: #ff9b4c

      .react-calendar-days-names-block
        display: table-row

        .react-calendar-days-names-container
          display: table
          width: 100%
          border-top: 1px solid #efefef
          border-bottom: 1px solid #efefef

          .react-calendar-days-names
            height: 40px
            display: table-row

            .react-calendar-day-name
              &-1, &-2, &-3
                display: table-cell
                text-align: center
                vertical-align: middle
                font-weight: bold

              &-1
                color: #c7422b
                background-color: #f6f6f6

              &-2
                color: #bd7800
                background-color: #ffffff

              &-3
                color: #5b5b5b
                background-color: #f6f6f6

      .react-calendar-numbers-block
        display: table-row
        height: 100%

        .react-calendar-numbers-container
          display: table
          width: 100%
          height: 100%
          border-collapse: collapse

          .react-calendar-number-row
            display: table-row

            .react-calendar-number
              &-1, &-2
                &:hover, &.react-calendar-selected
                  background-color: #f0f0f0

              &-3
                &:hover, &.react-calendar-selected
                  background-color: #fff2e8

              &-1, &-2, &-3
                display: table-cell
                text-align: center
                vertical-align: middle
                border: 1px solid #f0f0f0
                cursor: pointer
                position: relative

                &.react-calendar-not-present
                  color: #cacaca

                .react-calendar-item-mark
                  &-1, &-2, &-3
                    position: absolute
                    border-radius: 50px

                  &-1, &-2
                    top: 5px
                    left: 5px
                    width: 7px
                    height: 7px

                  &-1
                    background-color: #c4331d

                  &-2
                    background-color: #bd7800

                  &-3
                    background-color: #ff9b4c
                    bottom: 8px
                    left: 50%
                    transform: translateX(-50%)
                    width: 50%
                    height: 3px



  .react-calendar-about-event
    display: inline-block
    max-width: 500px
    min-height: 400px
    width: 100%
    border: 1px solid #c8c8c8
    position: relative
    background-color: #ffffff
    text-align: left
    vertical-align: top
    margin-left: 3%

    &.version
      &-1, &-2
        box-shadow: 0 0 25px rgba(0,0,0,0.6)
        border-radius: 10px
        padding-bottom: 30px

      &-3
        box-shadow: 0
        border-radius: 6px

        @media (min-width: 1120px)
          border-left: 0

      &-2, &-3
        margin: 0

    @media (max-width: 1120px)
      margin: 0

    .selected-event
      z-index: 0
      top: 55px
      left: 15px
      position: absolute
      color: #f3f3f3
      font-size: 60px
      font-weight: bold

      @media (max-width: 400px)
        font-size: 50px

      @media (max-width: 300px)
        font-size: 40px

      @media (max-width: 250px)
        font-size: 30px

      @media (max-width: 200px)
        font-size: 20px

    .react-calendar-no-events
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      color: #a2a2a2

    .react-calendar-header
      border-bottom: 1px solid #c8c8c8
      height: 60px
      font-weight: bold
      color: #616161
      padding-left: 20px

      &.version
        &-3
          text-align: center
          color: #ff9b4c
          border: 0
          margin-bottom: 20px

      span
        line-height: 60px

    .react-calendar-address-time-container
      .react-calendar-address-time
        font-size: 12px
        color: #878787
        width: 100%

        .react-calendar-icon
          position: absolute
          left: 10px
          top: 13px

          &.react-calendar-pin
            &-1, &-2, &-3
              width: 18px
              height: 26px
              left: 20px

            &-1
              background-image: url('./img/pin-1.png')

            &-2
              background-image: url('./img/pin-2.png')

            &-3
              background-image: url('./img/pin-3.png')

          &.react-calendar-calendar
            &-1, &-2, &-3
              left: 16px
              width: 26px
              height: 24px

            &-1
              background-image: url('./img/calendar-1.png')

            &-2
              background-image: url('./img/calendar-2.png')

            &-3
              background-image: url('./img/calendar-3.png')

        .react-calendar-address
          &-1, &-2, &-3
            position: relative
            height: 50px
            padding: 0px 15px
            padding-left: 50px
            width: 55%
            display: inline-block
            vertical-align: middle

            .text
              position: absolute
              top: 50%
              transform: translateY(-50%)

          &-2, &-3
            display: block
            width: 100%

        .react-calendar-time
          &-1, &-2, &-3
            position: relative
            height: 50px
            padding: 0px 15px
            padding-left: 50px
            width: 45%
            display: inline-block
            vertical-align: middle

            .text
              position: absolute
              top: 50%
              transform: translateY(-50%)

          &-2, &-3
            display: block
            width: 100%

    .react-calendar-event-info
      display: table
      padding: 15px
      text-align: left
      z-index: 1
      position: relative

      .react-calendar-title-container
        display: table-row
        height: 30px

        .react-calendar-title
          display: table-cell
          vertical-align: middle
          color: #404040
          font-weight: bold
          width: 100%
          padding-bottom: 10px

          .react-calendar-line
            background-color: #c4331d
            width: 100px
            height: 5px
            border-radius: 20px
            margin: 15px 0px

      .react-calendar-description-container
        display: table-row
        height: 100%

        .react-calendar-description
          width: 100%
          display: table-cell
          color: #858585

          p
            margin: 0

    .react-calendar-buttons
      width: 100%
      position: absolute
      height: 45px

      &.version
        &-1, &-2
          bottom: 0

        &-3
          top: 0
          height: 60px

      .react-calendar-button
        &-1:hover
          color: #c4351f

        &-2:hover
          color: #bd7800

        &-3:hover
          color: #ff9b4c

        &-1, &-2
          .arrow
            font-size: 20px
            color: #c4351f

        &-3
          height: 60px

          .arrow
            display: none

            @media (max-width: 350px)
                display: block

        &-1, &-2, &-3
          outline: 0
          cursor: pointer
          text-transform: uppercase
          color: #494949
          font-size: 16px
          background-color: transparent
          border: 0
          padding: 10px 15px
          margin: 0 !important
          font-weight: 500

          @media (max-width: 350px)
            .arrow-text
              display: none

          &.react-calendar-left
            position: absolute
            left: 0

          &.react-calendar-right
            position: absolute
            right: 0
